header {
	background: #bcbcbc;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background: #bcbcbc;
}

h2 {
	text-transform: uppercase;
	color:#16537e;
}

img {
	display: none;
}

section {
	background: #999999;
}

a {
	color: #000000;
	background: #eeeeee;
	text-align: center;
}